*{
  margin: 0;

}
.app{
  background-color: #FAFAFA;
  height: 100%;
}
.app_headerImage{

}
.app_header{
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;

}
.sign_Up{
  display: flex;
  flex-direction: column;
  object-fit: contain;
}
.center_items{
  display: flex;
  justify-content: center;
}
.app_image_signUp{

}